<%- include('partials/header') -%>
<div class="container">
  <div class="row my-3 text-center">
    <h2>Feed</h2>
  </div>
  <div class="row g-3">
    <% for(var i=0; i<recipes.length; i++) {%>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card text-center text-white bg-dark h-100 border-0">
        <a href="/recipe/<%= recipes[i]._id%>">
          <img class="card-img-top img-fit " src="<%= recipes[i].image%>">
        </a>
        <div class="card-body">
          <h6 class="card-title"><%= recipes[i].title%></h6>
          <span class="card-subtitle mb-2 text-muted"><%= recipes[i].userName%></span>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<%- include('partials/footer') -%>

